.cabecalho{
    width: 24%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

.catainer {

}

.cotainer__botao:checked~.lista-menu {

}

.cabecalho__menu-hamburguer {

}

.lista-menu {

}